html {
    font-size: 100%;
    background-color: white;
    color: #000;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #b9202a;
    color: white;
    font-size: .5rem;
    text-transform: uppercase;
    height: 100px;
}

header img {
    height: 50%;
}

nav ul {
    list-style-type: none;
}
nav ul li{
    background-color: #b9202a;
    color: white;
    border: 1px solid #0C2231;
}

nav ul li a {
    background-color: #b9202a;
    color: #d7e23f;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #b9202a;
    color: #0C2231;
    font-weight: bold;
}

nav ul li:nth-child(2) {
    background-color: #b9202a;
    color: black;
    border: 1px solid #b9202a;
    font-weight: bold;
    text-decoration: none;
}

nav ul li:nth-child(2) a {
    background-color: #b9202a;
    color: black;
    text-decoration: none;
}

nav ul li:nth-child(2) a:hover {
    background-color:#b9202a;
    color: white;
    text-decoration: none;
}

.wrapper {
    background-color: #7ebdc2;
}

figcaption{
    text-align: center;
    font-size: .8rem;
}

figcaption a {
    background-color: #7ebdc2;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
}

#secondary {
    background-color: #e5eff7;
    color: black;
}

footer {
    background-color:#b9202a;
    color: #0A3055;
}