html {
    font-size: 100%;
    background-color: white;
    color: black;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;
    padding: 10px 5px 5px 10px;
}

header {
    background-color: #00B4C5;
    color: black;
    font-size: 1.0rem;
    text-transform: uppercase;
    height: 150px;
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(240px,1fr));
    justify-items: left;
}

header h1 {
    height: 50px;
    justify-items: left;;
    margin-left: 50px;
}

header a {
    height: 85px;
    text-align: right;
}

header img {
    margin-right: 80px;
    height: 150%;
}

nav {
padding: .5rem 0 .5rem 0;    
}

nav ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    justify-items:center;
    list-style-type: none;
}

nav ul li{
    background-color: #CF4C57;
    color: black;
    border: 1px solid #CF4C57;
    padding: 3.0rem 1.0rem 3.0rem 1.0rem;
    font-weight: bold;
}

nav ul li a {
    background-color: #CF4C57;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #E39A9E;
    color: #000;
    font-weight: bold;
}

nav ul li:nth-child(2) {
    background-color: #E39A9E;
    color: black;
    border: 1px solid #E39A9E;
    font-weight: bold;
    text-decoration: none;
}

nav ul li:nth-child(2) a {
    background-color: #E39A9E;
    color: black;
    text-decoration: none;
}

nav ul li:nth-child(2) a:hover {
    background-color: #9F2A33;
    color: white;
    text-decoration: none;
}

.wrapper {
    background-color: #07737F;
    color: white;
 }


#primary {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)); 
    justify-items: center;
    padding: 0 1rem 0 1rem;
}

#primary h2 {
    background-color: #129CA8;
    color: black;
    text-align: center;
}


#mainarticle {
    padding: 50px 25px 25px 50px;
}


figure {
    padding: 2rem 1rem 0 1rem;
    text-align: center;
}

figure img {
    max-width: 300px;
    border: 30px;
    text-align: center;
}

figcaption{
    text-align: center;
    font-size: 0.8rem;
}

figcaption a {
    background-color: #07737F;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

#secondary {
    background-color: white;
    color: black;
    padding: 1rem 5rem 1rem 2rem;
}

caption {
    font-size: 1.5rem;
    text-transform: uppercase;
    text-shadow: 2px 2px 3px white;
    padding: 5px;
    background-color: #F6DE73;
    color: black;
    border-radius: 25px;
    font-weight: bold; 
  }

  thead,tfoot {
    background-color: #F6DE73;
    color: black;
    font-weight: bold;
  }

  th, td {
    padding: 5px 10px;
  }

  tbody {
    background-color: #F6DE73;
    color: black;
  }

  .center {
    text-align: center;
  }

  .rowhover {
    background-color: #129CA8;
    color: black;
  }

  .basicbutton button {
    border-radius: 5%;
    padding: 5px 10px;
    box-shadow: 10px 5px 5px #9F2A33;
  }

footer {
    display: grid;
    background-color: #CF4C57;
    color: black;
    padding: 0.8rem 0 0 2rem;
}