html {
    font-size: 100%;
    background-color: #fff;
    color: #000
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #e130c1;
    color: #fff;
    font-size: .5rem;
    text-transform: uppercase;
    height: 100px;
}

header img {
    height: 75%;
}

nav ul {
    list-style-type: none;
}
nav ul li{
    background-color: #e130c1;
    color:aliceblue;
    border: 1px solid #61eb8d;
}

nav ul li a {
    background-color: #e130c1;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #e130c1;
    color: #000;
    font-weight: bold;
}

nav ul li:nth-child(2) {
    background-color: #e130c1;
    color: #000;
    border: 1px solid #19783f;
    font-weight: bold;
    text-decoration: none;
}

nav ul li:nth-child(2) a {
    background-color: #e130c1;
    color: #19783f;
    text-decoration: none;
}

nav ul li:nth-child(2) a:hover {
    background-color: #e130c1;
    color: #fff;
    text-decoration: none;
}

.wrapper {
    background-color: #7ebdc2;
}

figcaption{
    text-align: center;
    font-size: .8rem;
}

figcaption a {
    background-color: #7ebdc2;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
}

#secondary {
    background-color: white;
    color: black;
}

footer {
    background-color:#e130c1;
    color: white;
}