html {
    font-size: 100%;
    background-color: white;
    color: black;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(200px,2fr));
    justify-items: center;
    height: 100px;   
    background-color: #00B4C5;
    color: black;
    font-size: 1rem;
    text-transform: uppercase;
}

header h1 {
    height: 400px;
    text-align: right;
    margin-right: 50px;
    margin-top: 10px;
}

header a {
    height: 300px;
    justify-items: right;
    margin-top: 10px;
}

header img {
    height: 200px;
    margin-top: 10px;
}

nav {
padding: .5rem 0 .5rem 0;    
}

nav ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 2fr));
    justify-items:end;
    list-style-type: none;
}
nav ul li{
    background-color: #9F2A33;
    color:white;
    border: 2px solid #9F2A33;
    padding: .5rem 1.0rem .5rem 1.0rem;
    font-weight: bold;
}

nav ul li a {
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}

nav ul li a:hover {
    color: black;
    font-weight: bold;
}

nav ul li:nth-child(2) {
    background-color: #CF4C57;
    color: black;
    border: 1px solid #CF4C57;
    font-weight: bold;
    text-decoration: none;
}

nav ul li:nth-child(2) a {
    color: white;
    text-decoration: none;
}

nav ul li:nth-child(2) a:hover {
    background-color:#9F2A33;
    color: white;
    text-decoration: none;
}

.wrapper {
    background-color: #07737F;
    color: white;
}

#primary {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    padding: 0 1rem 0 1rem;
}

#primary h2 {
    background-color: #129CA8;
    color: black;
    text-align: center;
}


#mainarticle {
    padding: 0 1rem 0 1rem;
}


figure {
    padding: 2rem 1rem 0 1rem;
    text-align: center;
}

figure img {
    max-width: 300px;
    border: 30px;
}

figcaption{
    text-align: center;
    font-size: 0.8rem;
}

figcaption a {
    background-color: #07737F;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

#secondary {
    background-color: white;
    color: black;
    padding: 1rem 5rem 1rem 2rem;
}

footer {
    display: grid;
    background-color: #CF4C57;
    color: black;
    padding: 0.8rem 0 0 2rem;
}